@media (max-width: 500px){
    .home .space-images img {
        width: 44rem;
        padding-left: 1%
    }

        
        .sky{
            display: none;
        }
        .launch{
            display: none;
        }
    
    }